In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Load the CSV files
school_data_to_load = "C:\\Users\\Owner\\GitHub\\Pandas-challenge\\schools_complete.csv"
student_data_to_load = "C:\\Users\\Owner\\GitHub\\Pandas-challenge\\students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Merge the data into a single dataframe
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [4]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
total_schools = school_data["school_name"].count()
total_schools

15

In [6]:
total_students = student_data["Student ID"].count()
total_students

39170

In [7]:
total_budget = school_data["budget"].sum()
total_budget

24649428

In [8]:
total_math_score = student_data["math_score"].sum()
total_math_score

3093857

In [9]:
avg_math_score = total_math_score/total_students
avg_math_score

78.98537145774827

In [10]:
total_reading_score = student_data["reading_score"].sum()
total_reading_score

3207155

In [11]:
avg_reading_score = total_reading_score/total_students
avg_reading_score

81.87784018381414

In [12]:
passing_math_score = student_data.loc[(student_data["math_score"] >= 70)]
passing_math_score.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
8,8,Michael Roth,M,10th,Huang High School,95,87

In [13]:
passing_math_students = passing_math_score["Student ID"].count()
passing_math_students

29370

In [14]:
percent_passing_math = (passing_math_students/total_students)*100
percent_passing_math

74.9808526933878

In [15]:
passing_reading_score = student_data.loc[(student_data["reading_score"] >= 70)]
passing_reading_score.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80

In [16]:
passing_reading_students = passing_reading_score["Student ID"].count()
passing_reading_students

33610

In [17]:
percent_passing_reading = (passing_reading_students/total_students)*100
percent_passing_reading

85.80546336482001

In [18]:
overall_passing_rate = (avg_math_score + avg_reading_score)/2
overall_passing_rate

80.43160582078121

In [19]:
# Creating a new DataFrame using the above numbers
district_summary_table = pd.DataFrame({"Total Schools": [total_schools],"Total Students": [total_students],
                                    "Total Budget": [total_budget], "Average Math Score": [avg_math_score],
                                   "Average Reading Score": [avg_reading_score], "% Passing Math":[percent_passing_math],
                                   "% Passing Reading":[percent_passing_reading], "% Overall Passing Rate":[overall_passing_rate],
                                   })
district_summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

In [20]:
# Schools district summary results
district_summary_table["Total Students"] = district_summary_table["Total Students"].map("{:,}".format)
district_summary_table["Total Budget"] = district_summary_table["Total Budget"].map("${:,}".format)
district_summary_table["Average Math Score"] = district_summary_table["Average Math Score"].map("{:.2f}".format)
district_summary_table["Average Reading Score"] = district_summary_table["Average Reading Score"].map("{:.2f}".format)
district_summary_table["% Passing Math"] = district_summary_table["% Passing Math"].map("{:.2f}".format)
district_summary_table["% Passing Reading"] = district_summary_table["% Passing Reading"].map("{:.2f}".format)
district_summary_table["% Overall Passing Rate"] = district_summary_table["% Overall Passing Rate"].map("{:.2f}".format)
district_summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428",78.99,81.88,74.98,85.81,80.43

In [21]:
school_summary_table = school_data_complete.groupby(['school_name','type'])
school_summary_table

In [23]:
total_students = school_summary_table["Student ID"].count()
total_students

school_name            type
Bailey High School     District    4976
Cabrera High School    Charter     1858
Figueroa High School   District    2949
Ford High School       District    2739
Griffin High School    Charter     1468
Hernandez High School  District    4635
Holden High School     Charter      427
Huang High School      District    2917
Johnson High School    District    4761
Pena High School       Charter      962
Rodriguez High School  District    3999
Shelton High School    Charter     1761
Thomas High School     Charter     1635
Wilson High School     Charter     2283
Wright High School     Charter     1800
Name: Student ID, dtype: int64

In [24]:
total_budget = school_summary_table["budget"].sum()
total_budget

school_name            type
Bailey High School     District    15549641728
Cabrera High School    Charter      2009159448
Figueroa High School   District     5557128039
Ford High School       District     4831365924
Griffin High School    Charter      1346890000
Hernandez High School  District    14007062700
Holden High School     Charter       105933149
Huang High School      District     5573322295
Johnson High School    District    14733628650
Pena High School       Charter       563595396
Rodriguez High School  District    10186904637
Shelton High School    Charter      1860672600
Thomas High School     Charter      1705517550
Wilson High School     Charter      3012587442
Wright High School     Charter      1888920000
Name: budget, dtype: int64

In [25]:
summary_table1 = pd.DataFrame({"Total Students": total_students,
                                    "Total Student Budget": total_budget})
summary_table1.head()

                               Total Students  Total Student Budget
school_name          type
Bailey High School   District            4976           15549641728
Cabrera High School  Charter             1858            2009159448
Figueroa High School District            2949            5557128039
Ford High School     District            2739            4831365924
Griffin High School  Charter             1468            1346890000

In [26]:
Per_Student_Budget = total_budget/total_students
Per_Student_Budget

school_name            type
Bailey High School     District    3124928.0
Cabrera High School    Charter     1081356.0
Figueroa High School   District    1884411.0
Ford High School       District    1763916.0
Griffin High School    Charter      917500.0
Hernandez High School  District    3022020.0
Holden High School     Charter      248087.0
Huang High School      District    1910635.0
Johnson High School    District    3094650.0
Pena High School       Charter      585858.0
Rodriguez High School  District    2547363.0
Shelton High School    Charter     1056600.0
Thomas High School     Charter     1043130.0
Wilson High School     Charter     1319574.0
Wright High School     Charter     1049400.0
dtype: float64

In [27]:
avg_math_score = school_summary_table["math_score"].mean()
avg_math_score

school_name            type
Bailey High School     District    77.048432
Cabrera High School    Charter     83.061895
Figueroa High School   District    76.711767
Ford High School       District    77.102592
Griffin High School    Charter     83.351499
Hernandez High School  District    77.289752
Holden High School     Charter     83.803279
Huang High School      District    76.629414
Johnson High School    District    77.072464
Pena High School       Charter     83.839917
Rodriguez High School  District    76.842711
Shelton High School    Charter     83.359455
Thomas High School     Charter     83.418349
Wilson High School     Charter     83.274201
Wright High School     Charter     83.682222
Name: math_score, dtype: float64

In [28]:
avg_reading_score = school_summary_table["reading_score"].mean()
avg_reading_score

school_name            type
Bailey High School     District    81.033963
Cabrera High School    Charter     83.975780
Figueroa High School   District    81.158020
Ford High School       District    80.746258
Griffin High School    Charter     83.816757
Hernandez High School  District    80.934412
Holden High School     Charter     83.814988
Huang High School      District    81.182722
Johnson High School    District    80.966394
Pena High School       Charter     84.044699
Rodriguez High School  District    80.744686
Shelton High School    Charter     83.725724
Thomas High School     Charter     83.848930
Wilson High School     Charter     83.989488
Wright High School     Charter     83.955000
Name: reading_score, dtype: float64

In [29]:
school_passing_math = school_data_complete.loc[(school_data_complete["math_score"] >= 70)]

In [30]:
school_passing_reading = school_data_complete.loc[(school_data_complete["reading_score"] >= 70)]

In [31]:
school_math_summary = school_passing_math.groupby(['school_name','type'])
school_math_summary

In [32]:
school_reading_summary = school_passing_reading.groupby(['school_name','type'])
school_reading_summary

In [33]:
avg_pass_math = school_math_summary["math_score"].mean()
avg_pass_math

school_name            type
Bailey High School     District    84.505124
Cabrera High School    Charter     83.972556
Figueroa High School   District    84.310894
Ford High School       District    84.165687
Griffin High School    Charter     84.394602
Hernandez High School  District    84.936975
Holden High School     Charter     85.040506
Huang High School      District    84.240084
Johnson High School    District    84.742448
Pena High School       Charter     84.719780
Rodriguez High School  District    84.339111
Shelton High School    Charter     84.326679
Thomas High School     Charter     84.497705
Wilson High School     Charter     84.244050
Wright High School     Charter     84.758929
Name: math_score, dtype: float64

In [34]:
avg_pass_reading = school_reading_summary["reading_score"].mean()
avg_pass_reading

school_name            type
Bailey High School     District    84.362521
Cabrera High School    Charter     84.432612
Figueroa High School   District    84.767745
Ford High School       District    84.612799
Griffin High School    Charter     84.253156
Hernandez High School  District    84.483725
Holden High School     Charter     84.391727
Huang High School      District    84.691400
Johnson High School    District    84.430566
Pena High School       Charter     84.680390
Rodriguez High School  District    84.374377
Shelton High School    Charter     84.362559
Thomas High School     Charter     84.259585
Wilson High School     Charter     84.526770
Wright High School     Charter     84.479586
Name: reading_score, dtype: float64

In [35]:
passing_school_math_students = school_math_summary["Student ID"].count()
passing_school_math_students

school_name            type
Bailey High School     District    3318
Cabrera High School    Charter     1749
Figueroa High School   District    1946
Ford High School       District    1871
Griffin High School    Charter     1371
Hernandez High School  District    3094
Holden High School     Charter      395
Huang High School      District    1916
Johnson High School    District    3145
Pena High School       Charter      910
Rodriguez High School  District    2654
Shelton High School    Charter     1653
Thomas High School     Charter     1525
Wilson High School     Charter     2143
Wright High School     Charter     1680
Name: Student ID, dtype: int64

In [36]:
passing_school_reading_students = school_reading_summary["Student ID"].count()
passing_school_reading_students

school_name            type
Bailey High School     District    4077
Cabrera High School    Charter     1803
Figueroa High School   District    2381
Ford High School       District    2172
Griffin High School    Charter     1426
Hernandez High School  District    3748
Holden High School     Charter      411
Huang High School      District    2372
Johnson High School    District    3867
Pena High School       Charter      923
Rodriguez High School  District    3208
Shelton High School    Charter     1688
Thomas High School     Charter     1591
Wilson High School     Charter     2204
Wright High School     Charter     1739
Name: Student ID, dtype: int64

In [37]:
passing_school_math_percent = (passing_school_math_students/total_students)*100
passing_school_math_percent

school_name            type
Bailey High School     District    66.680064
Cabrera High School    Charter     94.133477
Figueroa High School   District    65.988471
Ford High School       District    68.309602
Griffin High School    Charter     93.392371
Hernandez High School  District    66.752967
Holden High School     Charter     92.505855
Huang High School      District    65.683922
Johnson High School    District    66.057551
Pena High School       Charter     94.594595
Rodriguez High School  District    66.366592
Shelton High School    Charter     93.867121
Thomas High School     Charter     93.272171
Wilson High School     Charter     93.867718
Wright High School     Charter     93.333333
Name: Student ID, dtype: float64

In [38]:
passing_school_reading_percent = (passing_school_reading_students/total_students)*100
passing_school_reading_percent

school_name            type
Bailey High School     District    81.933280
Cabrera High School    Charter     97.039828
Figueroa High School   District    80.739234
Ford High School       District    79.299014
Griffin High School    Charter     97.138965
Hernandez High School  District    80.862999
Holden High School     Charter     96.252927
Huang High School      District    81.316421
Johnson High School    District    81.222432
Pena High School       Charter     95.945946
Rodriguez High School  District    80.220055
Shelton High School    Charter     95.854628
Thomas High School     Charter     97.308869
Wilson High School     Charter     96.539641
Wright High School     Charter     96.611111
Name: Student ID, dtype: float64

In [39]:
overll_pass_rate = (avg_pass_math + avg_pass_reading)/2
overll_pass_rate

school_name            type
Bailey High School     District    84.433823
Cabrera High School    Charter     84.202584
Figueroa High School   District    84.539319
Ford High School       District    84.389243
Griffin High School    Charter     84.323879
Hernandez High School  District    84.710350
Holden High School     Charter     84.716117
Huang High School      District    84.465742
Johnson High School    District    84.586507
Pena High School       Charter     84.700085
Rodriguez High School  District    84.356744
Shelton High School    Charter     84.344619
Thomas High School     Charter     84.378645
Wilson High School     Charter     84.385410
Wright High School     Charter     84.619257
dtype: float64

In [60]:
#Overview table that summarizes key metrics about each school
school_summary_results = pd.DataFrame({"Total Students": total_students.map("{:,}".format),"Total Student Budget": total_budget.map("${:,}".format),
                              "Per Student Budget":Per_Student_Budget.map("${:,}".format),"Average Math Score":avg_pass_math.map("{:.2f}".format),
                              "Average Reading Score":avg_pass_reading.map("{:.2f}".format), "% Passing Math":passing_school_math_percent.map("{:.2f}".format),
                              "% Passing Reading":passing_school_reading_percent.map("{:.2f}".format), "Overall Passing Rate":overll_pass_rate.map("{:.2f}".format)})
school_summary_results.head(100)

,,Total Students,Total Student Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,type,,,,,,,,
Bailey High School,District,"4,976","$15,549,641,728","$3,124,928.0",84.51,84.36,66.68,81.93,84.43
Cabrera High School,Charter,"1,858","$2,009,159,448","$1,081,356.0",83.97,84.43,94.13,97.04,84.20
Figueroa High School,District,"2,949","$5,557,128,039","$1,884,411.0",84.31,84.77,65.99,80.74,84.54
Ford High School,District,"2,739","$4,831,365,924","$1,763,916.0",84.17,84.61,68.31,79.30,84.39
Griffin High School,Charter,"1,468","$1,346,890,000","$917,500.0",84.39,84.25,93.39,97.14,84.32
Hernandez High School,District,"4,635","$14,007,062,700","$3,022,020.0",84.94,84.48,66.75,80.86,84.71
Holden High School,Charter,427,"$105,933,149","$248,087.0",85.04,84.39,92.51,96.25,84.72
Huang High School,District,"2,917","$5,573,322,295","$1,910,635.0",84.24,84.69,65.68,81.32,84.47
Johnson High School,District,"4,761","$14,733,628,650","$3,094,650.0",84.74,84.43,66.06,81.22,84.59
Pena High School,Charter,962,"$563,595,396","$585,858.0",84.72,84.68,94.59,95.95,84.70
Rodriguez High School,District,"3,999","$10,186,904,637","$2,547,363.0",84.34,84.37,66.37,80.22,84.36
Shelton High School,Charter,"1,761","$1,860,672,600","$1,056,600.0",84.33,84.36,93.87,95.85,84.34
Thomas High School,Charter,"1,635","$1,705,517,550","$1,043,130.0",84.50,84.26,93.27,97.31,84.38
Wilson High School,Charter,"2,283","$3,012,587,442","$1,319,574.0",84.24,84.53,93.87,96.54,84.39
Wright High School,Charter,"1,800","$1,888,920,000","$1,049,400.0",84.76,84.48,93.33,96.61,84.62

In [61]:
#Top five performing schools by overall passing rate
top_performing_schools = school_summary_results.sort_values(["Overall Passing Rate"], ascending=False)
top_performing_schools.head(5)

,,Total Students,Total Student Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,type,,,,,,,,
Holden High School,Charter,427,"$105,933,149","$248,087.0",85.04,84.39,92.51,96.25,84.72
Hernandez High School,District,"4,635","$14,007,062,700","$3,022,020.0",84.94,84.48,66.75,80.86,84.71
Pena High School,Charter,962,"$563,595,396","$585,858.0",84.72,84.68,94.59,95.95,84.70
Wright High School,Charter,"1,800","$1,888,920,000","$1,049,400.0",84.76,84.48,93.33,96.61,84.62
Johnson High School,District,"4,761","$14,733,628,650","$3,094,650.0",84.74,84.43,66.06,81.22,84.59

In [74]:
#Five worst performing schools by overall passing rate
worst_performing_schools = school_summary_results.sort_values(["Overall Passing Rate"], ascending=True)
worst_performing_schools.head(5)

,,Total Students,Total Student Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,type,,,,,,,,
Cabrera High School,Charter,"1,858","$2,009,159,448","$1,081,356.0",83.97,84.43,94.13,97.04,84.20
Griffin High School,Charter,"1,468","$1,346,890,000","$917,500.0",84.39,84.25,93.39,97.14,84.32
Shelton High School,Charter,"1,761","$1,860,672,600","$1,056,600.0",84.33,84.36,93.87,95.85,84.34
Rodriguez High School,District,"3,999","$10,186,904,637","$2,547,363.0",84.34,84.37,66.37,80.22,84.36
Thomas High School,Charter,"1,635","$1,705,517,550","$1,043,130.0",84.50,84.26,93.27,97.31,84.38

In [108]:
grade9 = student_data.loc[(student_data["grade"] == "9th")]
grade10 = student_data.loc[(student_data["grade"] == "10th")]
grade11 = student_data.loc[(student_data["grade"] == "11th")]
grade12 = student_data.loc[(student_data["grade"] == "12th")]