In [32]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Load (Remember to Change These)
school_data_to_load = "C:\\Users\\Owner\\GitHub\\Pandas-challenge\\schools_complete.csv"
student_data_to_load = "C:\\Users\\Owner\\GitHub\\Pandas-challenge\\students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [33]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [34]:
total_schools = school_data["school_name"].count()
total_schools

15

In [35]:
total_students = student_data["Student ID"].count()
total_students

39170

In [36]:
total_budget = school_data["budget"].sum()
total_budget

24649428

In [37]:
total_math_score = student_data["math_score"].sum()
total_math_score

3093857

In [38]:
avg_math_score = total_math_score/total_students
avg_math_score

78.98537145774827

In [39]:
total_reading_score = student_data["reading_score"].sum()
total_reading_score

3207155

In [40]:
avg_reading_score = total_reading_score/total_students
avg_reading_score

81.87784018381414

In [41]:
passing_math_score = student_data.loc[(student_data["math_score"] >= 70)]
passing_math_score.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
8,8,Michael Roth,M,10th,Huang High School,95,87

In [42]:
passing_math_students = passing_math_score["Student ID"].count()
passing_math_students

29370

In [43]:
percent_passing_math = (passing_math_students/total_students)*100
percent_passing_math

74.9808526933878

In [44]:
passing_reading_score = student_data.loc[(student_data["reading_score"] >= 70)]
passing_reading_score.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80

In [45]:
passing_reading_students = passing_reading_score["Student ID"].count()
passing_reading_students

33610

In [46]:
percent_passing_reading = (passing_reading_students/total_students)*100
percent_passing_reading

85.80546336482001

In [47]:
overall_passing_rate = (avg_math_score + avg_reading_score)/2
overall_passing_rate

80.43160582078121

In [48]:
# Creating a new DataFrame using the above numbers
district_summary_table = pd.DataFrame({"Total Schools": [total_schools],"Total Students": [total_students],
                                    "Total Budget": [total_budget], "Average Math Score": [avg_math_score],
                                   "Average Reading Score": [avg_reading_score], "% Passing Math":[percent_passing_math],
                                   "% Passing Reading":[percent_passing_reading], "% Overall Passing Rate":[overall_passing_rate],
                                   })
district_summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

In [49]:
district_summary_table["Total Students"] = district_summary_table["Total Students"].map("{:,}".format)
district_summary_table["Total Budget"] = district_summary_table["Total Budget"].map("${:,}".format)
district_summary_table["Average Math Score"] = district_summary_table["Average Math Score"].map("{:.2f}".format)
district_summary_table["Average Reading Score"] = district_summary_table["Average Reading Score"].map("{:.2f}".format)
district_summary_table["% Passing Math"] = district_summary_table["% Passing Math"].map("{:.2f}".format)
district_summary_table["% Passing Reading"] = district_summary_table["% Passing Reading"].map("{:.2f}".format)
district_summary_table["% Overall Passing Rate"] = district_summary_table["% Overall Passing Rate"].map("{:.2f}".format)
district_summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428",78.99,81.88,74.98,85.81,80.43

In [83]:
school_summary_table = school_data_complete.groupby(['school_name','type'])
school_summary_table

In [89]:
school_cleanup_summary = school_summary_table["school_name","type"]
school_cleanup_summary

In [90]:
total_students = school_summary_table["Student ID"].count()
total_students

school_name            type
Bailey High School     District    4976
Cabrera High School    Charter     1858
Figueroa High School   District    2949
Ford High School       District    2739
Griffin High School    Charter     1468
Hernandez High School  District    4635
Holden High School     Charter      427
Huang High School      District    2917
Johnson High School    District    4761
Pena High School       Charter      962
Rodriguez High School  District    3999
Shelton High School    Charter     1761
Thomas High School     Charter     1635
Wilson High School     Charter     2283
Wright High School     Charter     1800
Name: Student ID, dtype: int64

In [99]:
total_budget = school_summary_table["budget"].sum()
total_budget

school_name            type
Bailey High School     District    15549641728
Cabrera High School    Charter      2009159448
Figueroa High School   District     5557128039
Ford High School       District     4831365924
Griffin High School    Charter      1346890000
Hernandez High School  District    14007062700
Holden High School     Charter       105933149
Huang High School      District     5573322295
Johnson High School    District    14733628650
Pena High School       Charter       563595396
Rodriguez High School  District    10186904637
Shelton High School    Charter      1860672600
Thomas High School     Charter      1705517550
Wilson High School     Charter      3012587442
Wright High School     Charter      1888920000
Name: budget, dtype: int64