In [89]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Load (Remember to Change These)
school_data_to_load = "C:\\Users\\Owner\\GitHub\\Pandas-challenge\\schools_complete.csv"
student_data_to_load = "C:\\Users\\Owner\\GitHub\\Pandas-challenge\\students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name"])

In [90]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [91]:
total_schools = school_data["school_name"].count()
total_schools

15

In [92]:
total_students = student_data["Student ID"].count()
total_students

39170

In [93]:
total_budget = school_data["budget"].sum()
total_budget

24649428

In [94]:
total_math_score = student_data["math_score"].sum()
total_math_score

3093857

In [95]:
avg_math_score = total_math_score/total_students
avg_math_score

78.98537145774827

In [96]:
total_reading_score = student_data["reading_score"].sum()
total_reading_score

3207155

In [97]:
avg_reading_score = total_reading_score/total_students
avg_reading_score

81.87784018381414

In [98]:
passing_math_score = student_data.loc[(student_data["math_score"] >= 70)]
passing_math_score.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
8,8,Michael Roth,M,10th,Huang High School,95,87

In [99]:
passing_math_students = passing_math_score["Student ID"].count()
passing_math_students

29370

In [100]:
percent_passing_math = (passing_math_students/total_students)*100
percent_passing_math

74.9808526933878

In [101]:
passing_reading_score = student_data.loc[(student_data["reading_score"] >= 70)]
passing_reading_score.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80

In [102]:
passing_reading_students = passing_reading_score["Student ID"].count()
passing_reading_students

33610

In [103]:
percent_passing_reading = (passing_reading_students/total_students)*100
percent_passing_reading

85.80546336482001

In [104]:
overall_passing_rate = (percent_passing_math + percent_passing_reading)/2
overall_passing_rate

80.39315802910392

In [105]:
# Creating a new DataFrame using the above numbers
district_summary_table = pd.DataFrame({"Total Schools": [total_schools],"Total Students": [total_students],
                                    "Total Budget": [total_budget], "Average Math Score": [avg_math_score],
                                   "Average Reading Score": [avg_reading_score], "% Passing Math":[percent_passing_math],
                                   "% Passing Reading":[percent_passing_reading], "% Overall Passing Rate":[overall_passing_rate],
                                   })
district_summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.393158

In [106]:
district_summary_table["Total Students"] = district_summary_table["Total Students"].map("{:,}".format)
district_summary_table["Total Budget"] = district_summary_table["Total Budget"].map("${:,}".format)
district_summary_table["Average Math Score"] = district_summary_table["Average Math Score"].map("{:.2f}".format)
district_summary_table["Average Reading Score"] = district_summary_table["Average Reading Score"].map("{:.2f}".format)
district_summary_table["% Passing Math"] = district_summary_table["% Passing Math"].map("{:.2f}".format)
district_summary_table["% Passing Reading"] = district_summary_table["% Passing Reading"].map("{:.2f}".format)
district_summary_table["% Overall Passing Rate"] = district_summary_table["% Overall Passing Rate"].map("{:.2f}".format)
district_summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428",78.99,81.88,74.98,85.81,80.39

In [107]:
school_summary_table = school_data_complete.groupby(['school_name'])
#school_summary_table = school_data_complete.groupby(['school_name','type'])
school_summary_table.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
2917,2917,Amy Jacobs,F,10th,Figueroa High School,85,87,1,District,2949,1884411
2918,2918,Nathan Campbell,M,12th,Figueroa High School,97,84,1,District,2949,1884411
2919,2919,Randall Stewart,M,12th,Figueroa High School,67,77,1,District,2949,1884411
2920,2920,Jennifer Brown,F,9th,Figueroa High School,97,64,1,District,2949,1884411
2921,2921,Denise Lopez,F,10th,Figueroa High School,79,64,1,District,2949,1884411
5866,5866,Jamie Montgomery,F,12th,Shelton High School,70,91,2,Charter,1761,1056600
5867,5867,Shannon Phillips,F,10th,Shelton High School,84,71,2,Charter,1761,1056600
5868,5868,Todd Barber,M,11th,Shelton High School,95,99,2,Charter,1761,1056600
5869,5869,Desiree King,F,12th,Shelton High School,76,95,2,Charter,1761,1056600
5870,5870,Melissa Roberts,F,10th,Shelton High School,71,82,2,Charter,1761,1056600
7627,7627,Russell Davis,M,10th,Hernandez High School,70,88,3,District,4635,3022020
7628,7628,Timothy Walker,M,12th,Hernandez High School,97,93,3,District,4635,3022020
7629,7629,Katie Johnston,F,12th,Hernandez High School,83,81,3,District,4635,3022020
7630,7630,Joann Oconnell,F,12th,Hernandez High School,77,91,3,District,4635,3022020
7631,7631,Sarah Alexander,F,10th,Hernandez High School,84,93,3,District,4635,3022020
12262,12262,Heather Wright,F,11th,Griffin High School,79,68,4,Charter,1468,917500
12263,12263,Elizabeth Goodwin,F,10th,Griffin High School,91,81,4,Charter,1468,917500
12264,12264,Michelle Wong,F,9th,Griffin High School,78,89,4,Charter,1468,917500
12265,12265,Scott Roth MD,M,11th,Griffin High School,91,85,4,Charter,1468,917500
12266,12266,Billy Wilson,M,12th,Griffin High School,76,83,4,Charter,1468,917500
13730,13730,Kelli Anderson,F,10th,Wilson High School,84,71,5,Charter,2283,1319574
13731,13731,Russell Ramirez,M,10th,Wilson High School,72,87,5,Charter,2283,1319574
13732,13732,Eric Butler,M,10th,Wilson High School,97,82,5,Charter,2283,1319574
13733,13733,Warren Kerr,M,11th,Wilson High School,93,68,5,Charter,2283,1319574
13734,13734,Gail Hall,F,9th,Wilson High School,79,72,5,Charter,2283,1319574
...,...,...,...,...,...,...,...,...,...,...,...
23274,23274,Alec Davis,M,9th,Pena High School,91,75,9,Charter,962,585858
23275,23275,Michael Meyer,M,10th,Pena High School,94,76,9,Charter,962,585858
23276,23276,Donald Gutierrez,M,11th,Pena High School,98,91,9,Charter,962,585858
23277,23277,Travis Chavez,M,11th,Pena High School,78,71,9,Charter,962,585858
23278,23278,Sheena Ball,F,12th,Pena High School,87,92,9,Charter,962,585858
24236,24236,Aaron Johnson,M,10th,Wright High School,89,72,10,Charter,1800,1049400
24237,24237,Kimberly Hamilton,F,10th,Wright High School,84,93,10,Charter,1800,1049400
24238,24238,Ashley Johns,F,10th,Wright High School,88,88,10,Charter,1800,1049400
24239,24239,Stephanie Donovan,F,10th,Wright High School,75,84,10,Charter,1800,1049400
24240,24240,Cynthia Guzman,F,11th,Wright High School,93,82,10,Charter,1800,1049400
26036,26036,Sherry Jenkins,F,11th,Rodriguez High School,74,81,11,District,3999,2547363
26037,26037,Kimberly Calderon,F,10th,Rodriguez High School,80,86,11,District,3999,2547363
26038,26038,William Brady,M,11th,Rodriguez High School,97,62,11,District,3999,2547363
26039,26039,Jacob Padilla,M,11th,Rodriguez High School,79,73,11,District,3999,2547363
26040,26040,Paula Maldonado,F,10th,Rodriguez High School,96,92,11,District,3999,2547363
30035,30035,Lisa Casey,F,12th,Johnson High School,87,87,12,District,4761,3094650
30036,30036,Jessica Lopez,F,9th,Johnson High School,98,62,12,District,4761,3094650
30037,30037,Anna Wilkins,F,11th,Johnson High School,89,77,12,District,4761,3094650
30038,30038,Andrew Smith,M,9th,Johnson High School,66,85,12,District,4761,3094650
30039,30039,Robert Allison,M,11th,Johnson High School,63,85,12,District,4761,3094650
34796,34796,Michael Mercado,M,9th,Ford High School,66,94,13,District,2739,1763916
34797,34797,Stephen Wolf,M,11th,Ford High School,68,63,13,District,2739,1763916
34798,34798,Bonnie Hughes,F,12th,Ford High School,73,59,13,District,2739,1763916
34799,34799,Melissa Smith,F,11th,Ford High School,88,58,13,District,2739,1763916
34800,34800,Brian Mitchell,M,10th,Ford High School,96,55,13,District,2739,1763916
37535,37535,Norma Mata,F,10th,Thomas High School,76,76,14,Charter,1635,1043130
37536,37536,Cody Miller,M,11th,Thomas High School,84,82,14,Charter,1635,1043130
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90,14,Charter,1635,1043130
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69,14,Charter,1635,1043130
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76,14,Charter,1635,1043130

In [108]:
total_students = school_summary_table["Student ID"].count()
total_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [109]:
total_budget = school_summary_table["budget"].sum()
total_budget

school_name
Bailey High School       15549641728
Cabrera High School       2009159448
Figueroa High School      5557128039
Ford High School          4831365924
Griffin High School       1346890000
Hernandez High School    14007062700
Holden High School         105933149
Huang High School         5573322295
Johnson High School      14733628650
Pena High School           563595396
Rodriguez High School    10186904637
Shelton High School       1860672600
Thomas High School        1705517550
Wilson High School        3012587442
Wright High School        1888920000
Name: budget, dtype: int64

In [110]:
Per_Student_Budget = total_budget/total_students
Per_Student_Budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
dtype: float64

In [111]:
avg_math_score = school_summary_table["math_score"].mean()
avg_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [112]:
avg_reading_score = school_summary_table["reading_score"].mean()
avg_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [113]:
school_passing_math = school_data_complete.loc[(school_data_complete["math_score"] >= 70)]

In [114]:
school_passing_reading = school_data_complete.loc[(school_data_complete["reading_score"] >= 70)]

In [115]:
school_math_summary = school_passing_math.groupby(['school_name'])
school_math_summary

In [116]:
school_reading_summary = school_passing_reading.groupby(['school_name'])
school_reading_summary

In [117]:
avg_pass_math = school_math_summary["math_score"].mean()
avg_pass_math

school_name
Bailey High School       84.505124
Cabrera High School      83.972556
Figueroa High School     84.310894
Ford High School         84.165687
Griffin High School      84.394602
Hernandez High School    84.936975
Holden High School       85.040506
Huang High School        84.240084
Johnson High School      84.742448
Pena High School         84.719780
Rodriguez High School    84.339111
Shelton High School      84.326679
Thomas High School       84.497705
Wilson High School       84.244050
Wright High School       84.758929
Name: math_score, dtype: float64

In [118]:
avg_pass_reading = school_reading_summary["reading_score"].mean()
avg_pass_reading

school_name
Bailey High School       84.362521
Cabrera High School      84.432612
Figueroa High School     84.767745
Ford High School         84.612799
Griffin High School      84.253156
Hernandez High School    84.483725
Holden High School       84.391727
Huang High School        84.691400
Johnson High School      84.430566
Pena High School         84.680390
Rodriguez High School    84.374377
Shelton High School      84.362559
Thomas High School       84.259585
Wilson High School       84.526770
Wright High School       84.479586
Name: reading_score, dtype: float64

In [119]:
passing_school_math_students = school_math_summary["Student ID"].count()
passing_school_math_students

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: Student ID, dtype: int64

In [120]:
passing_school_reading_students = school_reading_summary["Student ID"].count()
passing_school_reading_students

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: Student ID, dtype: int64

In [121]:
passing_school_math_percent = (passing_school_math_students/total_students)*100
passing_school_math_percent

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: Student ID, dtype: float64

In [122]:
passing_school_reading_percent = (passing_school_reading_students/total_students)*100
passing_school_reading_percent

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: Student ID, dtype: float64

In [123]:
overll_pass_rate = (passing_school_math_percent + passing_school_reading_percent)/2
overll_pass_rate

school_name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
Name: Student ID, dtype: float64

In [124]:
total_size = school_summary_table["size"].sum()
total_size

school_name
Bailey High School       24760576
Cabrera High School       3452164
Figueroa High School      8696601
Ford High School          7502121
Griffin High School       2155024
Hernandez High School    21483225
Holden High School         182329
Huang High School         8508889
Johnson High School      22667121
Pena High School           925444
Rodriguez High School    15992001
Shelton High School       3101121
Thomas High School        2673225
Wilson High School        5212089
Wright High School        3240000
Name: size, dtype: int64

In [125]:
summary_table1 = pd.DataFrame({"Total Students": total_students,"Total Student Budget": total_budget,
                              "Per Student Budget":Per_Student_Budget,"School Size":total_size,"Average Math Score":avg_pass_math,
                              "Average Reading Score":avg_pass_reading,
                              "% Passing Math":passing_school_math_percent,"% Passing Reading":passing_school_reading_percent,
                              "Overall Passing Rate":overll_pass_rate})
summary_table1.head(100)

,Total Students,Total Student Budget,Per Student Budget,School Size,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,4976,15549641728,3124928.0,24760576,84.505124,84.362521,66.680064,81.933280,74.306672
Cabrera High School,1858,2009159448,1081356.0,3452164,83.972556,84.432612,94.133477,97.039828,95.586652
Figueroa High School,2949,5557128039,1884411.0,8696601,84.310894,84.767745,65.988471,80.739234,73.363852
Ford High School,2739,4831365924,1763916.0,7502121,84.165687,84.612799,68.309602,79.299014,73.804308
Griffin High School,1468,1346890000,917500.0,2155024,84.394602,84.253156,93.392371,97.138965,95.265668
Hernandez High School,4635,14007062700,3022020.0,21483225,84.936975,84.483725,66.752967,80.862999,73.807983
Holden High School,427,105933149,248087.0,182329,85.040506,84.391727,92.505855,96.252927,94.379391
Huang High School,2917,5573322295,1910635.0,8508889,84.240084,84.691400,65.683922,81.316421,73.500171
Johnson High School,4761,14733628650,3094650.0,22667121,84.742448,84.430566,66.057551,81.222432,73.639992
Pena High School,962,563595396,585858.0,925444,84.719780,84.680390,94.594595,95.945946,95.270270
Rodriguez High School,3999,10186904637,2547363.0,15992001,84.339111,84.374377,66.366592,80.220055,73.293323
Shelton High School,1761,1860672600,1056600.0,3101121,84.326679,84.362559,93.867121,95.854628,94.860875
Thomas High School,1635,1705517550,1043130.0,2673225,84.497705,84.259585,93.272171,97.308869,95.290520
Wilson High School,2283,3012587442,1319574.0,5212089,84.244050,84.526770,93.867718,96.539641,95.203679
Wright High School,1800,1888920000,1049400.0,3240000,84.758929,84.479586,93.333333,96.611111,94.972222

In [126]:
#Top five performing schools by overall passing rate
top_performing_schools = summary_table1.sort_values(["Overall Passing Rate"], ascending=False)
top_performing_schools.head(5)

,Total Students,Total Student Budget,Per Student Budget,School Size,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,1858,2009159448,1081356.0,3452164,83.972556,84.432612,94.133477,97.039828,95.586652
Thomas High School,1635,1705517550,1043130.0,2673225,84.497705,84.259585,93.272171,97.308869,95.290520
Pena High School,962,563595396,585858.0,925444,84.719780,84.680390,94.594595,95.945946,95.270270
Griffin High School,1468,1346890000,917500.0,2155024,84.394602,84.253156,93.392371,97.138965,95.265668
Wilson High School,2283,3012587442,1319574.0,5212089,84.244050,84.526770,93.867718,96.539641,95.203679

In [127]:
#Five worst performing schools by overall passing rate
worst_performing_schools = summary_table1.sort_values(["Overall Passing Rate"], ascending=True)
worst_performing_schools.head(5)

,Total Students,Total Student Budget,Per Student Budget,School Size,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,3999,10186904637,2547363.0,15992001,84.339111,84.374377,66.366592,80.220055,73.293323
Figueroa High School,2949,5557128039,1884411.0,8696601,84.310894,84.767745,65.988471,80.739234,73.363852
Huang High School,2917,5573322295,1910635.0,8508889,84.240084,84.691400,65.683922,81.316421,73.500171
Johnson High School,4761,14733628650,3094650.0,22667121,84.742448,84.430566,66.057551,81.222432,73.639992
Ford High School,2739,4831365924,1763916.0,7502121,84.165687,84.612799,68.309602,79.299014,73.804308

In [128]:
#Create a pandas series for each grade.
#Group each series by school based on average reading score
    
grade9 = student_data.loc[(student_data["grade"] == "9th")]
grade10 = student_data.loc[(student_data["grade"] == "10th")]
grade11 = student_data.loc[(student_data["grade"] == "11th")]
grade12 = student_data.loc[(student_data["grade"] == "12th")]

series9group = grade9.groupby(['school_name'])
series10group = grade10.groupby(['school_name'])
series11group = grade11.groupby(['school_name'])
series12group = grade12.groupby(['school_name'])

series9 = series9group["reading_score"].mean()
series10 = series10group["reading_score"].mean()
series11 = series11group["reading_score"].mean()
series12 = series12group["reading_score"].mean()

In [129]:
#Combine the average reading score series above into a dataframe and re-order the columns
reading_scores_by_grade = pd.DataFrame({"9th": series9,"10th": series10,
                              "11th":series11,"12th":series12})
df = reading_scores_by_grade[["9th","10th","11th","12th"]]
df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [130]:
#Use the same grade series groups above for each grade and group each series by school based on average math score
series9 = series9group["math_score"].mean()
series10 = series10group["math_score"].mean()
series11 = series11group["math_score"].mean()
series12 = series12group["math_score"].mean()

In [131]:
#Combine the average math score series above into a dataframe and re-order the columns
math_scores_by_grade = pd.DataFrame({"9th": series9,"10th": series10,
                              "11th":series11,"12th":series12})
df = math_scores_by_grade[["9th","10th","11th","12th"]]
df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [132]:
# Scores by School Spending
# Create a table that breaks down school performances based on average Spending Ranges(Per Student Budget).
# Spending ranges here are spending bins on the Per Student Budget column, Group lables or names are applied to these
# Per Student Budget bins or ranges. Include in the table each of the following: 
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)

spending_bins = [0, 500000, 1500000, 2500000, 3500000]
group_names = ["<$0.5Mil", "$0.5Mil-1.5Mil", "$1.5Mil-2.5Mil", "$2.5Mil-3.5Mil"]
summary_table1["Spending Ranges (Per Student)"] = pd.cut(summary_table1["Per Student Budget"], spending_bins, labels=group_names)
df1 = summary_table1.filter(["Average Math Score","Average Reading Score","% Passing Math", "% Passing Reading", "Overall Passing Rate","Spending Ranges (Per Student)"], axis=1)
df = df1[["Spending Ranges (Per Student)","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","Overall Passing Rate"]]
df

,Spending Ranges (Per Student),Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,
Bailey High School,$2.5Mil-3.5Mil,84.505124,84.362521,66.680064,81.933280,74.306672
Cabrera High School,$0.5Mil-1.5Mil,83.972556,84.432612,94.133477,97.039828,95.586652
Figueroa High School,$1.5Mil-2.5Mil,84.310894,84.767745,65.988471,80.739234,73.363852
Ford High School,$1.5Mil-2.5Mil,84.165687,84.612799,68.309602,79.299014,73.804308
Griffin High School,$0.5Mil-1.5Mil,84.394602,84.253156,93.392371,97.138965,95.265668
Hernandez High School,$2.5Mil-3.5Mil,84.936975,84.483725,66.752967,80.862999,73.807983
Holden High School,<$0.5Mil,85.040506,84.391727,92.505855,96.252927,94.379391
Huang High School,$1.5Mil-2.5Mil,84.240084,84.691400,65.683922,81.316421,73.500171
Johnson High School,$2.5Mil-3.5Mil,84.742448,84.430566,66.057551,81.222432,73.639992
Pena High School,$0.5Mil-1.5Mil,84.719780,84.680390,94.594595,95.945946,95.270270
Rodriguez High School,$2.5Mil-3.5Mil,84.339111,84.374377,66.366592,80.220055,73.293323
Shelton High School,$0.5Mil-1.5Mil,84.326679,84.362559,93.867121,95.854628,94.860875
Thomas High School,$0.5Mil-1.5Mil,84.497705,84.259585,93.272171,97.308869,95.290520
Wilson High School,$0.5Mil-1.5Mil,84.244050,84.526770,93.867718,96.539641,95.203679
Wright High School,$0.5Mil-1.5Mil,84.758929,84.479586,93.333333,96.611111,94.972222

In [133]:
# Scores by School Size
# Create a table that breaks down school performances based on school size.
# Spending ranges here are spending bins on the School Size column, Group labels or names are applied to these
# School Size bins or ranges. Include in the table each of the following: 
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)
size_bins = [0, 5000000, 15000000, 25000000]
group_names = ["Small (<5000000)", "Medium (5000000-15000000)", "Large (15000000-25000000)"]

summary_table1["School Size Ranges"] = pd.cut(summary_table1["School Size"], size_bins, labels=group_names)
df1 = summary_table1.filter(["Average Math Score","Average Reading Score","% Passing Math", "% Passing Reading", "Overall Passing Rate","School Size Ranges"], axis=1)
df2 = df1[["School Size Ranges","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","Overall Passing Rate"]]
df2

,School Size Ranges,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,
Bailey High School,Large (15000000-25000000),84.505124,84.362521,66.680064,81.933280,74.306672
Cabrera High School,Small (<5000000),83.972556,84.432612,94.133477,97.039828,95.586652
Figueroa High School,Medium (5000000-15000000),84.310894,84.767745,65.988471,80.739234,73.363852
Ford High School,Medium (5000000-15000000),84.165687,84.612799,68.309602,79.299014,73.804308
Griffin High School,Small (<5000000),84.394602,84.253156,93.392371,97.138965,95.265668
Hernandez High School,Large (15000000-25000000),84.936975,84.483725,66.752967,80.862999,73.807983
Holden High School,Small (<5000000),85.040506,84.391727,92.505855,96.252927,94.379391
Huang High School,Medium (5000000-15000000),84.240084,84.691400,65.683922,81.316421,73.500171
Johnson High School,Large (15000000-25000000),84.742448,84.430566,66.057551,81.222432,73.639992
Pena High School,Small (<5000000),84.719780,84.680390,94.594595,95.945946,95.270270
Rodriguez High School,Large (15000000-25000000),84.339111,84.374377,66.366592,80.220055,73.293323
Shelton High School,Small (<5000000),84.326679,84.362559,93.867121,95.854628,94.860875
Thomas High School,Small (<5000000),84.497705,84.259585,93.272171,97.308869,95.290520
Wilson High School,Medium (5000000-15000000),84.244050,84.526770,93.867718,96.539641,95.203679
Wright High School,Small (<5000000),84.758929,84.479586,93.333333,96.611111,94.972222

In [134]:
school_summary_type = school_data_complete.groupby(['type'])
school_summary_type.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5866,5866,Jamie Montgomery,F,12th,Shelton High School,70,91,2,Charter,1761,1056600
5867,5867,Shannon Phillips,F,10th,Shelton High School,84,71,2,Charter,1761,1056600
5868,5868,Todd Barber,M,11th,Shelton High School,95,99,2,Charter,1761,1056600
5869,5869,Desiree King,F,12th,Shelton High School,76,95,2,Charter,1761,1056600
5870,5870,Melissa Roberts,F,10th,Shelton High School,71,82,2,Charter,1761,1056600

In [135]:
type_total_students = school_summary_type["Student ID"].count()
type_total_students

type
Charter     12194
District    26976
Name: Student ID, dtype: int64

In [136]:
type_avg_math_score = school_summary_type["math_score"].mean()
type_avg_math_score

type
Charter     83.406183
District    76.987026
Name: math_score, dtype: float64

In [137]:
type_avg_reading_score = school_summary_type["reading_score"].mean()
type_avg_reading_score

type
Charter     83.902821
District    80.962485
Name: reading_score, dtype: float64

In [138]:
school_type_math_summary = school_passing_math.groupby(['type'])
school_type_math_summary

In [139]:
school_type_reading_summary = school_passing_reading.groupby(['type'])
school_type_reading_summary

In [140]:
type_avg_pass_math = school_type_math_summary["math_score"].mean()
type_avg_pass_math

type
Charter     84.407492
District    84.511870
Name: math_score, dtype: float64

In [141]:
type_avg_pass_reading = school_type_reading_summary["reading_score"].mean()
type_avg_pass_reading

type
Charter     84.420025
District    84.501993
Name: reading_score, dtype: float64

In [142]:
passing_type_math_students = school_type_math_summary["Student ID"].count()
passing_type_math_students

type
Charter     11426
District    17944
Name: Student ID, dtype: int64

In [143]:
passing_type_reading_students = school_type_reading_summary["Student ID"].count()
passing_type_reading_students

type
Charter     11785
District    21825
Name: Student ID, dtype: int64

In [144]:
passing_type_math_percent = (passing_type_math_students/type_total_students)*100
passing_type_math_percent

type
Charter     93.701821
District    66.518387
Name: Student ID, dtype: float64

In [145]:
passing_type_reading_percent = (passing_type_reading_students/type_total_students)*100
passing_type_reading_percent

type
Charter     96.645891
District    80.905249
Name: Student ID, dtype: float64

In [146]:
overll_type_pass_rate = (passing_type_math_percent + passing_type_reading_percent)/2
overll_type_pass_rate

type
Charter     95.173856
District    73.711818
Name: Student ID, dtype: float64

In [147]:
# Scores by School Type
# Create a table that breaks down school performances based on school type (District, Charter).
# Include in the table each of the following: 
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)
summary_table2 = pd.DataFrame({"Average Math Score":type_avg_pass_math,
                              "Average Reading Score":type_avg_pass_reading,
                              "% Passing Math":passing_type_math_percent,"% Passing Reading":passing_type_reading_percent,
                              "Overall Passing Rate":overll_type_pass_rate})
df = summary_table2[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","Overall Passing Rate"]]
df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
type,,,,,
Charter,84.407492,84.420025,93.701821,96.645891,95.173856
District,84.511870,84.501993,66.518387,80.905249,73.711818